@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main {
    background-color: gainsboro;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#switch{
    display: none;
}

.content{
    width: 90px;
    height: 50px;
    background-color: blueviolet;
    border-radius: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    z-index: 2;
}

.circle{
    width: 42px;
    height: 42px;
    background-color: white;
    border-radius: 50%;
    margin-left: 4px;
    transition: 0.3s;
}
.on{
    font-size: 7vh;
    font-family: 'Rubik', sans-serif;
    transform: translateX(-60px);
}
.off{
    font-size: 7vh;
    font-family: 'Rubik', sans-serif;
    transform: translateX(70px);
}
#switch:checked ~ .main{
    background-color: darkslategrey;
}
#switch:checked ~ .content{
    background-color: rgb(226, 147, 43);
}
#switch:checked ~ label .circle{
    transform: translateX(40px);
}

