:root{
    --dark-mode: #222223;
    --light-mode: #f4f4f4;
    --dark-content: #98e880;
    --light-content: #e0e0e0;
    --dark-circle: #222223;
    --light-circle: #ffffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main{
    background-color: var(--light-mode);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
}

#switch{
    display: none;
}
.content{
    display: flex;
    align-items: center;
    width: 100px;
    height: 50px;
    background-color: var(--light-content);
    border-radius: 45px;
    z-index: 2;
    cursor: pointer;
}

.circle{
    width: 40px;
    height: 40px;
    display: inline-flex;
    margin-left: 5px;
    align-items: center;
    background-color: var(--light-circle);
    border-radius: 50%;
    transition: 0.5s;
    z-index: 3;
}

#switch:checked ~ .main{
    background-color: var(--dark-mode);
}

#switch:checked ~ .content .circle{
    transform: translateX(50px);
}

#switch:checked ~ label {
    background-color: var(--dark-content);
}